.outer-chart{
    width: 60rem;
    height: 60rem;
    margin: 7rem auto 2rem;
    position: relative;
    transition: height, 1s;
}
.outer-chart.outer-chart-bar{
    height: 80rem;
}
.outer-chart .chart-container{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all, 1s;
}

.outer-chart .chart-container.bar{
    width: 75%;
}
.outer-chart .chart-container.scatter{
    border-left: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.particle-chart .particle-chart-header{
    font-size: 3.5rem;
    transition: opacity, 1s;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
}
.particle-chart .current-info-header{
    opacity: 1;
}
.particle-chart .hidden-info-header{
    opacity: 0;
}
.particle-chart .particle-chart-header.has-no-babels {
    top: 40rem;
}
.chart-container.scatter::before{
    position: absolute;
    content: '';
    left: 33%;
    top: 0;
    width: 33%;
    height: 100%;
    border-left: 1px solid rgba(255,255,255,.5);
    border-right: 1px solid rgba(255,255,255,.5);
    animation-name: fade-in-metric-label-1;
    animation-iteration-count: 1;
    animation-duration: 1s;
    pointer-events: none;
}
.chart-container.scatter::after{
    position: absolute;
    content: '';
    top: 33%;
    left: 0;
    height: 33%;
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.5);
    border-bottom: 1px solid rgba(255,255,255,.5);
    animation-name: fade-in-metric-label-1;
    animation-iteration-count: 1;
    animation-duration: 1s;
    pointer-events: none;
}
@media screen and (min-width: 768px) {
    .particle-chart{
        padding-top: 6rem;
        display: flex;
        justify-content: center;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .outer-chart{
        width: 50rem;
        height: 50rem;
        margin: 2rem 4rem;
    }
    .outer-chart.outer-chart-bar{
        height: 50rem;
    }
    .particle-chart .particle-chart-header{
        font-size: 3rem;
        top: 4rem;
    }
    .outer-chart.outer-chart{
        margin-top: 6rem;
    }
    .particle-chart .particle-chart-header.has-no-babels {
        top: 32rem;
    }
}
.particle-chart a,
.particle-chart button,
.particle-chart .sorters,
.particle-chart .filters{
    transition: opacity, 1s;
}
.particle-chart:not(.intro-ended) a,
.particle-chart:not(.intro-ended) button,
.particle-chart:not(.intro-ended) .sorters,
.particle-chart:not(.intro-ended) .filters
{
    opacity: 0;
    pointer-events: none;
}

.particle-chart.hide-content .chart-container{ 
    opacity: 0;
}