.sorters{
    display: none;
    margin: 0;
    padding: 0;
    width: 30rem;
    position: absolute;
    left: 0;
    z-index: 1;
    top: 10rem;
    bottom: 0;
    overflow: auto;
    background-color: rgba(100,100,100, .8);

}
.show-sorters ~ .sorters{
    display: flex;
    flex-direction: column;
}

.sorters li,
.sorters h2{
    text-align: left;
    padding-left: .5rem;
}

.sorters li .sorter-btn{
    display: none;
}

.sorters h2{
    font-size: 3rem;
}

.sorters .confirm-item{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 30rem;
    background-color: #333333;
    text-align: center;
    padding: .5rem 0;
}
.sorters .confirm-item button{
    width: 90%;
}

@media screen and (min-width: 768px) {
    .sorters{
        display: block;
        width: 15rem;
        position: static;
        overflow: auto;
        background-color: transparent;
        border-right: 1px solid #cccccc;
    
    }
    .sorters h2{
        font-size: 2rem;
    }
    .sorters li .sorter-btn{
        display: block;
        width: 100%;
        height: 3rem;
        font-size: 1.5rem;
        color: #ffffff;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #cccccc;
        text-align: left;
    }
    .sorters li label{
        display: none;
    }
    .sorters .confirm-item{
        display: none;
    }
}