.data-point{
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    
}
.data-point::after {
    content: '';
    width: .33rem;
    height: .33rem;
    display: block;
    background-color: #ffffff;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
@keyframes marked-animation {
    0%{
        box-shadow: 0 0 0 .2rem #66cf00;
    }
    50%{
        box-shadow: 0 0 0 .5rem #66cf00;
    }
    100%{
        box-shadow: 0 0 0 .2rem #66cf00;
    }
}
.data-point.marked{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.25rem;
    box-shadow: 0 0 0 .2rem #66cf00;
    pointer-events: all;
    animation-name: marked-animation;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    
}

.data-point.marked::after {
    background-color: #66cf00;
    width: .5rem;
    height: .5rem;
}