.app-header{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 10rem;
    background-color: #cc7c8c;
}

.app-header h1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 4rem;
}

.app-header button{
    position: relative;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.app-header button .nav-icon{
    position: relative;
    background-color: transparent;
    border: none;
    width: 4.5rem;
    display: block;
}
.app-header button .nav-icon path,
.app-header button .nav-icon polygon{
    color: #ffffff;
}

.app-header button .filter-count{
    position: absolute;
    top: .3rem;
    right: .3rem;
    background-color: #ff0000;
    padding: .1rem 1rem;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 0 0 .1rem #ffffff inset;
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .app-header{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 6rem;
    }
    h1{
        margin: .75rem;
        padding: 0;
    }
    .app-header button{
        display: none;
    }
}