.filters{
    display: none;
    margin: 0;
    padding: 0;
    width: 30rem;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 10rem;
    bottom: 0;
    overflow: auto;
    background-color: rgba(100,100,100, .8);
    padding-bottom: 8rem;
}
.filters ul{
    margin: 0;
    padding: 0;
}
.filters li{
    text-align: left;
    display: block;
    margin: 0;
    padding: 1rem .5rem;
    border-top: 1px solid #cccccc;
}

.filters li ul li {
    border-top: 1px solid #cccccc;
}

.filters li ul li:first-child{
    border-top: none;
}

.filters li ul li label{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.filters li label{
    font-size: 2rem;
}
.filters li input{
    width: 2rem;
    height: 2rem;
}
.show-filters ~ .filters{
    display: block;
}

.filters .filter-section-toggle{
    display: block;
    font-size: 3rem;
    display: block;
    padding: 2rem 1rem;
    font-weight: bold;
}

.filters h2{
    font-size: 3rem;
    padding: 0 1rem;
    margin-top: 1.5rem;
}

.filters li.heading{
    border: none;
}
.filters .check-box-list .confirm-item{
    display: none;
}
.filters .check-box-list .non-confirmable-check{
    display: none;
}
.filters .check-box-list .confirmable-check{
    display: inline-block;
    font-size: 3rem;
    padding: 2rem 0;
}
.filters .confirm-item{
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 29rem;
    background-color: #333333;
    text-align: center;
}
.filters .confirm-item button{
    width: 90%;
}
@media screen and (min-width: 768px) {
    .filters{
        display: block;
        width: 15rem;
        position: static;
        overflow: auto;
        background-color: transparent;
        border-left: 1px solid #cccccc;
        max-height: 50rem;
        border-bottom: 1px solid #cccccc;
    }
    .filters li label{
        display: flex;
        flex-wrap: nowrap;
        font-size: 2rem;
        align-items: center;
    }
    .filters li ul li{
        display: flex;
        flex-wrap: nowrap;
        font-size: 2rem;
        align-items: center;
    }
    .filters li ul li label span{
        display: inline-block;
        max-width: 10rem;
    }
    
    .filters .filter-section-toggle{
        display: block;
        font-size: 2rem;
        padding: 0;
    }
    .filters h2{
        font-size: 2rem;
        padding-left: 0;
        margin-top: .75rem;
    }
    .filters .confirm-item{
        display: none;
    }
    .filters .check-box-list .non-confirmable-check{
        display: flex;
    }
    .filters .check-box-list .confirmable-check{
        display: none;
    }
    
}