@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
html{
  font-size: 1.5vw;
}
@media screen and (min-width: 768px) {
  html{
    font-size: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  html{
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333333;
  font-family: "Sofia Sans Extra Condensed", serif;
}
body::before{
  content: '';
  background-image: url('https://blenderartists.org/uploads/default/original/4X/a/9/d/a9d787729fa0b4d1c11769e5a121876eb7ff6d74.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .15;
  filter: blur(5px);


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-family: "Sofia Sans Extra Condensed", serif;
  
}

button.reset-btn{
  position: fixed;
  height: 3rem;
  right: 0;
  top: 10rem;
  border-radius: 0 0 0 1.5rem;
  font-size: 2rem;
  z-index: 10;

}
@media screen and (min-width: 768px){
  button.reset-btn{
    top: 6rem;
  }
}
.btn{
  background-color: #66cf00;
  font-size: 3rem;
  border: none;
  min-width: 12rem;
  font-weight: bold;
  height: 4.5rem;
  border-radius: 2.75rem;
  text-transform: uppercase;
  color: #000000;
}

@keyframes fade-in-metric-label-1 {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 100%;
  }
}
@keyframes fade-in-metric-label-2 {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 100%;
  }
}

@keyframes show-heading {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes hide-heading {
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}