@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
html{
  font-size: 1.5vw;
}
@media screen and (min-width: 768px) {
  html{
    font-size: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  html{
    font-size: 12px;
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  color: #ffffff;
  background-color: #333333;
  font-family: "Sofia Sans Extra Condensed", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  font-family: "Sofia Sans Extra Condensed", serif;
}

@keyframes fade-in-metric-label-1 {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 100%;
  }
}
@keyframes fade-in-metric-label-2 {
  0%{
      opacity: 0;
  }
  100%{
      opacity: 100%;
  }
}

@keyframes show-heading {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes hide-heading {
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}