.metric-label{
    pointer-events: none;
    position: absolute;
    animation-name: fade-in-metric-label-1;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.metric-label-1{
    animation-name: fade-in-metric-label-1;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.metric-label-2{
    animation-name: fade-in-metric-label-2;
    animation-iteration-count: 1;
    animation-duration: 1s;
}
.metric-label label{
    display: block;
    font-size: 1.5rem;
    
}
.metric-label.line,
.metric-label.time{
    width: 0;
    transform: rotate(45deg);
    white-space: nowrap;
}

.metric-label.bar{
    transform: translate(-100%, -50%);
}

.metric-label.scatter{
    transform: translateX(-50%);
}

.metric-label.scatter ~ .scatter{
    transform-origin: top center;
    transform: translateX(-50%) rotate(90deg);
}

.metric-label.custom-left{
    transform: translateY(-50%);
    padding-left: .6rem;
}

.metric-label.custom-right{
    transform: translate(-100%, -50%);
    padding-right: .5rem;
}
@media screen and (min-width: 768px) {
    .metric-label.line,
    .metric-label.time{
        width: 0;
        transform: rotate(45deg);
    }
    .metric-label label{
        display: block;
        font-size: 1rem;
        
    }
}